{% extends 'base.html.twig' %}

{% block body %}
    <h3>Произведения в каталоге</h3>
    <br>

    <a href="/book/create" class="btn btn-success">Добавить произведение</a>
    <br>
    <br>

    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Поиск произведения">
        <a href="/book/index/1" class="btn btn-default">Поиск</a>
    </form>

    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Количество страниц</th>
                <th>Год публикации</th>
                <th>ISBN</th>
                <th>Изображение</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                {#<form method="GET">#}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.name }}</td>
                {#<td> {% for books in book.authors %} <li>{{ books }} </li> {% endfor %} </td>#}
                <td> {% for books in book.authors %} <li>{{ books }} </li> {% endfor %} </td>
                <td>{{ book.pageNumber }}</td>
                <td>{{ book.yearPublication }}</td>
                <td>{{ book.ISBN }}</td>
                {#<a class="thumbnail" href='<img src="{{ asset('images/' ~ book.imageName) }}" alt=""/>'>#}
                    {#<img src="{{ asset('images/' ~ book.imageName) }}" width="200" height="100" alt=""/>#}
                {#</a>#}
                <td><img src="{{ asset('images/' ~ book.imageName)}}"/>
                    <img src="images/network.jpg"/>
                    <img src="{{ asset('images/' ~ book.imageName)}}"/>
                    <img src="{{ asset('images/' ~ book.imageName)}}"/>
                </td>
                <td>
                    <a href="/book/index/{{ book.id }}" class="btn btn-info">К произведению</a>
                    <a href="/book/edit/{{ book.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/book/remove/{{ book.id }}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
                {#</form>#}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}